<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whm.content.mapper.ContentEssentialMapper">

    <sql id="selectContentEssentialVo">
        SELECT id,
               organization_id,
               organization_code,
               organization_name,
               note_name,
               note_tags,
               description,
               broad_category,
               narrow_category,
               note_grade,
               note_mode,
               suitable_users,
               pic,
               audit_status,
               `status`,
               create_by,
               create_name,
               create_time,
               update_by,
               update_name,
               update_time,
               deleted
        FROM content_essential
    </sql>

    <select id="contentEssentialPaginQuery" parameterType="com.whm.content.domain.po.ContentEssential" resultType="com.whm.content.domain.po.ContentEssential">
        <include refid="selectContentEssentialVo"/>
        where 1=1
        <if test="param.id != null  and param.id != ''">
            and id = #{param.id}
        </if>
        <if test="param.organizationId != null  and param.organizationId != ''">
            and organization_id = #{param.organizationId}
        </if>
        <if test="param.noteName != null  and param.noteName != ''">
            and note_name = #{param.noteName}
        </if>
        <if test="param.noteTags != null  and param.noteTags != ''">
            and note_tags = #{param.noteTags}
        </if>
        <if test="param.description != null  and param.description != ''">
            and description = #{param.description}
        </if>
        <if test="param.broadCategory != null  and param.broadCategory != ''">
            and broad_category = #{param.broadCategory}
        </if>
        <if test="param.narrowCategory != null  and param.narrowCategory != ''">
            and narrow_category = #{param.narrowCategory}
        </if>
        <if test="param.noteGrade != null  and param.noteGrade != ''">
            and note_grade = #{param.noteGrade}
        </if>
        <if test="param.noteMode != null  and param.noteMode != ''">
            and note_mode = #{param.noteMode}
        </if>
        <if test="param.suitableUsers != null  and param.suitableUsers != ''">
            and suitable_users = #{param.suitableUsers}
        </if>
        <if test="param.pic != null  and param.pic != ''">
            and pic = #{param.pic}
        </if>
        <if test="param.auditStatus != null  and param.auditStatus != ''">
            and audit_status = #{param.auditStatus}
        </if>
        <if test="param.status != null  and param.status != ''">
            and `status` = #{param.status}
        </if>
        <if test="param.deleted != null ">
            and deleted = #{param.deleted}
        </if>
    </select>
</mapper>
