version: '3.8'

services:
  mysql:
    image: mysql:8.0.22
    container_name: mysql
    ports:
      - "3306:3306"
    environment:
      TZ: Asia/Shanghai
      MYSQL_ROOT_PASSWORD: 123456
    volumes:
      - /mydata/mysql/conf:/etc/mysql
      - /mydata/mysql/logs:/var/log/mysql
      - /mydata/mysql/data:/var/lib/mysql
    restart: always
    privileged: true

  nacos:
    image: nacos/nacos-server:latest
    container_name: nacos
    ports:
      - "8848:8848"
      - "9848:9848"
      - "9849:9849"
    environment:
      PREFER_HOST_MODE: hostname
      MODE: standalone
      SPRING_DATASOURCE_PLATFORM: mysql
      MYSQL_SERVICE_HOST: mysql
      MYSQL_SERVICE_PORT: 3306
      MYSQL_SERVICE_DB_NAME: nacos
      MYSQL_SERVICE_USER: root
      MYSQL_SERVICE_PASSWORD: 123456
      MYSQL_SERVICE_DB_PARAM: "characterEncoding=utf8&connectTimeout=1000&socketTimeout=3000&autoReconnect=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai"
      JVM_XMS: 256m
      JVM_XMX: 256m
      TZ: Asia/Shanghai
      LANG: en_US.UTF-8
    volumes:
      - /mydata/nacos/logs:/home/nacos/logs
      - /mydata/nacos/data:/home/nacos/data
      - /mydata/nacos/conf:/home/nacos/conf
    restart: always
    privileged: true
    depends_on:
      - mysql

  sentinel:
    image: bladex/sentinel-dashboard:latest
    container_name: sentinel
    ports:
      - "8858:8858"
    restart: always

  redis:
    image: redis:6.2.7
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - /mydata/redis/redis.conf:/etc/redis/redis.conf
      - /mydata/redis/data:/data
    command: redis-server /etc/redis/redis.conf
    restart: always

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "9002:80"
    volumes:
      - /mydata/nginx/conf/nginx.conf:/etc/nginx/nginx.conf
      - /mydata/nginx/conf/conf.d:/etc/nginx/conf.d
      - /mydata/nginx/log:/var/log/nginx
      - /mydata/nginx/html:/usr/share/nginx/html
    restart: always

  xxl-job:
    image: xuxueli/xxl-job-admin:2.4.1
    container_name: xxl-job
    ports:
      - "8088:8080"
    environment:
      PARAMS: "--spring.datasource.url=jdbc:mysql://mysql:3306/xxl_job?Unicode=true&characterEncoding=UTF-8 --spring.datasource.username=root --spring.datasource.password=123456 --xxl.job.accessToken=zhishiku.dev"
    volumes:
      - /mydata/xxl-job:/data/applogs
    restart: always
    privileged: true
    depends_on:
      - mysql

  elasticsearch:
    image: elasticsearch:8.6.0
    container_name: es
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      discovery.type: single-node
      ES_JAVA_OPTS: -Xms512m -Xmx512m
      ES_XPACK_SECURITY_ENABLED: false
    volumes:
      - /mydata/es/data:/usr/share/elasticsearch/data
      - /mydata/es/plugins:/usr/share/elasticsearch/plugins
    restart: always
    privileged: true

  kibana:
    image: kibana:8.6.0
    container_name: kibana
    ports:
      - "5601:5601"
    environment:
      ELASTICSEARCH_HOSTS: http://es:9200
    restart: always
    depends_on:
      - elasticsearch

  minio:
    image: minio/minio:RELEASE.2022-09-07T22-25-02Z
    container_name: minio
    ports:
      - "9090:9090"
      - "9091:9091"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    volumes:
      - /mydata/minio-data:/data
      - /mydata/minio-config:/root/.minio
    command: server /data --console-address ":9090" --address ":9091"
    restart: always
   # 创建必要目录
   # mkdir -p /mydata/{mysql,nacos,redis,nginx,minio}/{conf,logs,data}
   # mkdir -p /mydata/nginx/conf/conf.d
   # mkdir -p /mydata/nginx/html
   # 启动服务
   # docker-compose -f docker-compose.env.yml up -d
   # 查看服务状态
   # docker-compose ps
   # 停止服务
   # docker-compose -f docker-compose.env.yml down




