<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whm.system.mapper.SysDictTypeMapper">
    <sql id="selectSysDictTypeVo">
        SELECT
            id,dict_name,dict_type,status,create_by,create_name,create_time,update_by,update_name,update_time,deleted
        FROM sys_dict_type
    </sql>
    <select id="pageQuery" parameterType="com.whm.system.domain.po.SysDictType" resultType="com.whm.system.domain.po.SysDictType">
        <include refid="selectSysDictTypeVo"/>
        where 1=1
        <if test="param.id != null and param.id != ''">
            and id = #{param.id}
        </if>
        <if test="param.dictName != null and param.dictName != ''">
            and dict_name = #{param.dictName}
        </if>
        <if test="param.dictType != null and param.dictType != ''">
            and dict_type = #{param.dictType}
        </if>
        <if test="param.status != null and param.status != ''">
            and status = #{param.status}
        </if>
        <if test="param.createBy != null and param.createBy != ''">
            and create_by = #{param.createBy}
        </if>
        <if test="param.createName != null and param.createName != ''">
            and create_name = #{param.createName}
        </if>
        <if test="param.createTime != null and param.createTime != ''">
            and create_time = #{param.createTime}
        </if>
        <if test="param.updateBy != null and param.updateBy != ''">
            and update_by = #{param.updateBy}
        </if>
        <if test="param.updateName != null and param.updateName != ''">
            and update_name = #{param.updateName}
        </if>
        <if test="param.updateTime != null and param.updateTime != ''">
            and update_time = #{param.updateTime}
        </if>
        <if test="param.deleted != null and param.deleted != ''">
            and deleted = #{param.deleted}
        </if>
    </select>
</mapper>