<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whm.system.mapper.SysLookupDataMapper">
    <sql id="selectSysLookupDataVo">
        SELECT
            id,lookup_sort,lookup_code,lookup_name,lookup_type_id,lookup_type,sta_date,end_date,lookup_tag,is_default,status,remark,create_by,create_name,create_time,update_by,update_name,update_time,deleted
        FROM sys_lookup_data
    </sql>
    <select id="pageQuery" parameterType="com.whm.system.domain.po.SysLookupData" resultType="com.whm.system.domain.po.SysLookupData">
        <include refid="selectSysLookupDataVo"/>
        where 1=1
        <if test="param.id != null and param.id != ''">
            and id = #{param.id}
        </if>
        <if test="param.lookupSort != null and param.lookupSort != ''">
            and lookup_sort = #{param.lookupSort}
        </if>
        <if test="param.lookupCode != null and param.lookupCode != ''">
            and lookup_code = #{param.lookupCode}
        </if>
        <if test="param.lookupName != null and param.lookupName != ''">
            and lookup_name = #{param.lookupName}
        </if>
        <if test="param.lookupTypeId != null and param.lookupTypeId != ''">
            and lookup_type_id = #{param.lookupTypeId}
        </if>
        <if test="param.lookupType != null and param.lookupType != ''">
            and lookup_type = #{param.lookupType}
        </if>
        <if test="param.staDate != null and param.staDate != ''">
            and sta_date = #{param.staDate}
        </if>
        <if test="param.endDate != null and param.endDate != ''">
            and end_date = #{param.endDate}
        </if>
        <if test="param.lookupTag != null and param.lookupTag != ''">
            and lookup_tag = #{param.lookupTag}
        </if>
        <if test="param.isDefault != null and param.isDefault != ''">
            and is_default = #{param.isDefault}
        </if>
        <if test="param.status != null and param.status != ''">
            and status = #{param.status}
        </if>
        <if test="param.remark != null and param.remark != ''">
            and remark = #{param.remark}
        </if>
        <if test="param.createBy != null and param.createBy != ''">
            and create_by = #{param.createBy}
        </if>
        <if test="param.createName != null and param.createName != ''">
            and create_name = #{param.createName}
        </if>
        <if test="param.createTime != null and param.createTime != ''">
            and create_time = #{param.createTime}
        </if>
        <if test="param.updateBy != null and param.updateBy != ''">
            and update_by = #{param.updateBy}
        </if>
        <if test="param.updateName != null and param.updateName != ''">
            and update_name = #{param.updateName}
        </if>
        <if test="param.updateTime != null and param.updateTime != ''">
            and update_time = #{param.updateTime}
        </if>
        <if test="param.deleted != null and param.deleted != ''">
            and deleted = #{param.deleted}
        </if>
    </select>
</mapper>